<template>
<form id="form" v-on:submit.prevent="onSubmit">
    <h1>הוספת שאלה</h1>
  <div class="mb-3">
    <label class="form-label">לאיזה שיעור השאלה שייכת?</label>
    <select id="selectedLesson" class="form-select" aria-label="Default select example">
        <option v-for="lesson in lessons" :key="lesson" :value="lesson">{{lesson}}</option>
    </select>
  </div>
    <div class="mb-3">
    <label for="qText" class="form-label">שאלה</label>
    <input class="form-control" id="qText" placeholder="מלל השאלה">
    <input style="display: block;" type="file" id="qImage" name="img" accept="image/*" placeholder="הוסף תמונה">
  </div>


    <div  class="mb-3">
    <label for="aText1" class="form-label">תשובה 1</label>
    <input class="form-control" id="aText1" placeholder="מלל התשובה">
    <input type="file" id="aImage1" name="img" accept="image/*" placeholder="הוסף תמונה">
    <label for="aCorrect1">תשובה נכונה</label>
    <input id="aCorrect1" class="form-check-input" type="checkbox" role="switch">
    </div>

        <div  class="mb-3">
    <label for="aText2" class="form-label">תשובה 2</label>
    <input class="form-control" id="aText2" placeholder="מלל התשובה">
    <input type="file" id="aImage2" name="img" accept="image/*" placeholder="הוסף תמונה">
    <label for="aCorrect2">תשובה נכונה</label>
    <input id="aCorrect2" class="form-check-input" type="checkbox" role="switch">
    </div>

        <div  class="mb-3">
    <label for="aText3" class="form-label">תשובה 3</label>
    <input class="form-control" id="aText3" placeholder="מלל התשובה">
    <input type="file" id="aImage3" name="img" accept="image/*" placeholder="הוסף תמונה">
    <label for="aCorrect3">תשובה נכונה</label>
    <input id="aCorrect3" class="form-check-input" type="checkbox" role="switch">
    </div>

        <div  class="mb-3">
    <label for="aText4" class="form-label">תשובה 4</label>
    <input class="form-control" id="aText4" placeholder="מלל התשובה">
    <input type="file" id="aImage4" name="img" accept="image/*" placeholder="הוסף תמונה">
    <label for="aCorrect4">תשובה נכונה</label>
    <input id="aCorrect4" class="form-check-input" type="checkbox" role="switch">
    </div>




  <button type="submit" class="btn btn-primary" @click="addQuestion">הוספה</button>
</form>
</template>

<script>
import { all_questions } from "../assets/questions.js"

export default {
    data() {
        return {
            lessons: ["רגשות חיוביים", "רגשות שליליים", "מפגש בין אישי"]
        }
    },
    methods: {
        addQuestion() {
        const select = document.getElementById('selectedLesson');
        const selectedLesson = select.options[select.selectedIndex].value;

        const qImageFile = document.getElementById('qImage').files[0]
        const qImage = qImageFile && URL.createObjectURL(qImageFile)  
        const qText = document.getElementById('qText').value;

        const aImageFile1 = document.getElementById('aImage1').files[0]
        const aImage1 = aImageFile1 && URL.createObjectURL(aImageFile1)  
        const aText1 = document.getElementById('aText1').value;
        const aCorrect1 = document.getElementById('aCorrect1').checked

        const aImageFile2 = document.getElementById('aImage2').files[0]
        const aImage2 = aImageFile2 && URL.createObjectURL(aImageFile2) 
        const aText2 = document.getElementById('aText2').value;
        const aCorrect2 = document.getElementById('aCorrect2').checked
        
        const aImageFile3 = document.getElementById('aImage3').files[0]
        const aImage3 = aImageFile3 && URL.createObjectURL(aImageFile3) 
        const aText3 = document.getElementById('aText3').value;
        const aCorrect3 = document.getElementById('aCorrect3').checked

        const aImageFile4 = document.getElementById('aImage4').files[0]
        const aImage4 = aImageFile4 && URL.createObjectURL(aImageFile4) 
        const aText4 = document.getElementById('aText4').value;
        const aCorrect4 = document.getElementById('aCorrect4').checked

        const question = {
            catagory: selectedLesson,
            choices: [
                { answer: aCorrect1, classes: aCorrect1 ? {correct: false} : {incorrect: false}, img: aImage1, text: aText1 },
                { answer: aCorrect2, classes: aCorrect2 ? {correct: false} : {incorrect: false}, img: aImage2, text: aText2 },
                { answer: aCorrect3, classes: aCorrect3 ? {correct: false} : {incorrect: false}, img: aImage3, text: aText3 },
                { answer: aCorrect4, classes: aCorrect4 ? {correct: false} : {incorrect: false}, img: aImage4, text: aText4 }, 
            ],
            question: qText,
            question_img: qImage
        }

        all_questions.push(question);
        this.$store.commit('changeView', 'patients');
        console.log("moved to patient");

        }
    }
}
</script>

<style scoped>
#form {
    direction: rtl;
}
</style>