<template>
  <div class="vue-tempalte">
    <form>
      <h3>שכחתי סיסמה</h3>

      <div class="form-group">
        <label>אימייל</label>
        <input type="email" class="form-control form-control-lg" />
      </div>

      <button type="submit" class="btn btn-dark btn-lg btn-block">
        אפס סיסמה
      </button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>
