<template>
  <div class="vue-tempalte">
    <form v-on:submit.prevent="onSubmit">
      <h3>התחברות</h3>

      <div class="form-group">
        <label>אימייל</label>
        <input type="email" class="form-control form-control-lg" v-model="username"/>
      </div>

      <div class="form-group">
        <label>סיסמה</label>
        <input type="password" class="form-control form-control-lg" v-model="password"/>
      </div>

      <button type="submit" class="btn btn-dark btn-lg btn-block" @click="loginPressed">
        התחבר
      </button>

      <button @click="signupPressed"> הרשמה </button>

      <button @click="forgotPasswordPressed"> שכחתי סיסמה </button>


      <div class="social-icons">
        <ul>
          <li>
            <a href="#"><i class="fa fa-google"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
  loginPressed() {
      console.log(this.password)
      this.$store.dispatch('loginPressed', { username: this.username, password: this.password, nextView: 'patients' } );
    },
  forgotPasswordPressed() {
      this.$store.commit('changeView', 'app-forgotpassword');
    },
  signupPressed() {
      this.$store.commit('changeView', 'app-signup');
    },
  }
};
</script>
