<template>
    <div>
        <h1>
            מטופלים
        </h1>
        <div class="d-flex">
            <button v-for="patient in patients" :key="patient.patientName" class="mx-2" @click="startGame">
                <h5>{{patient.patientName}}</h5>
               <img class="rounded-circle" width="100px" length="100px" :src="patient.patientIcon"/>
            </button>
            <button>
                 <img class="rounded-circle" width="100px" length="100px" src="../assets/plus.png"/>
            </button>
        </div>
        <button id="btnQuestions" @click="moveToAddQuestion">הוספת שאלה</button>
    </div>
</template>

<script>
export default {
    data () {
        return {
            patients: [
                {
                    patientName: "יאנה פרוחורוב",
                    patientIcon: "./src/assets/girl.png"
                },
                {
                    patientName: "אמיתי ליוש",
                    patientIcon: "./src/assets/boy.png"
                },
                {
                    patientName: "ליאור גורליק",
                    patientIcon: "./src/assets/boy.png"
                },
                {
                    patientName: "יהב זר",
                    patientIcon: "./src/assets/boy.png"
                },
                {
                    patientName: "נועה קון בר",
                    patientIcon: "./src/assets/girl.png"
                },
                {
                    patientName: "אורי בן לביא",
                    patientIcon: "./src/assets/boy.png"
                }                 
            ]
        }
    },
    methods: {
        startGame(){
            this.$store.dispatch('startGame');
        },

        moveToAddQuestion() {
            this.$store.commit('changeView', 'app-add-question');
        }
    }
}
</script>

<style scoped>
#btnQuestions {
    margin-top: 16rem;
}

</style>
