<template>
  <div class="vue-tempalte">
    <form v-on:submit.prevent="onSubmit">
      <h3>הרשמה</h3>

      <div class="form-group">
        <label>שם מלא</label>
        <input type="text" class="form-control form-control-lg" />
      </div>

      <div class="form-group">
        <label>אימייל</label>
        <input type="email" class="form-control form-control-lg" v-model="username"/>
      </div>

      <div class="form-group">
        <label>סיסמא</label>
        <input type="password" class="form-control form-control-lg" v-model="password"/>
      </div>

      <button type="submit" class="btn btn-dark btn-lg btn-block" @click="signupPressed">
        הרשם
      </button>


      <p class="forgot-password text-right" @click="signinPressed">
       אם אתה כבר רשום, לחץ כאן
      </p>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    signinPressed() {
      this.$store.commit('changeView', 'app-login');
    },
    signupPressed() {
      if ((this.username) && (this.password))
      {
        this.$store.dispatch('signupPressed', { username: this.username, password: this.password, nextView: 'app-intro' } );
      }
    }
  }

};
</script>
