@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');
@import url( 'https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url( 'https://fonts.googleapis.com/icon?family=Material+Icons');
$color-darkest: #0277BD;
$color-dark: #03A9F4;
$color-med: #4FC3F7;
$color-alt-dark: #5C6BC0;
$color-alt-med: #7986CB;
$color-white: whitesmoke;
$color-green: #5CDB80;
$color-red: #FF5593;
$back-gradient: linear-gradient(to top, #4481eb 0%, #04befe 100%);

body,
ul {
    margin: 0;
    padding: 0;
}

a, a.link-light, a.link-dark {
  color: inherit;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;

  &::before {
    bottom: -2px;
    right: 0;
    content: '';
    position: absolute;
    transform: scale(1);
    transition: all .3s ease;
    width: 100%;
    height: 2px;
  }

  &:hover::before {
    transform: scale(0);
  }
}

a.link-light {
  &:hover {
    color: $color-med;
  }
  &::before {
    background-color: $color-white;
  }
}

a.link-dark {
  &:hover {
    color: $color-white;
  }
  &::before {
    background-color: $color-med;
  }
}

button {
  align-self: center;
  background-color: $color-white;
  border: 2px solid $color-white;
  //border: 0;
  border-radius: 190px;
  color: $color-darkest;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.25em;
  margin: .5em 0;
  outline: none;
  padding: 1em;
  transition: all 0.25s ease;
  max-width: 400px;
  //width: 200px;
  width: 100%;
  &:disabled, &:disabled:hover {
    cursor: auto;
    pointer-events: none;
  }
}

h2 {
  font-weight: normal;
}

ul {
    list-style-type: none;
}

@media (hover:hover) {
  button:hover, button:active {
    background-color: $color-med;
    border: 2px solid $color-med;
    color: $color-white;
  }
}

@media (max-width: 600px) {
  body {
    font-size: .85em;
  }
}

.flex-center-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

// Styling for score displays
.score-high {
  color: $color-green;
}

.score-low {
  color: $color-red;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes open {
    from {
        max-height: 0;
        opacity: 0;
        margin-bottom: 0;
    }
    to {
        max-height: 1000px;
        opacity: 1;
        margin-bottom: 2em;
    }
}

@keyframes close {
    from {
        max-height: 1000px;
        opacity: 1;
        margin-bottom: 2em;
    }
    to {
        max-height: 0;
        opacity: 0;
        margin-bottom: 0;
    }
}
